<div class="row">
  <div class="column">
    <h2>Scale</h2>
    <%= render partial: "large_piano", locals: { notes: @scale[:scale] } %>
  </div>

  <div class="column">
    <h2>Pentatonic</h2>
    <%= render partial: "large_piano", locals: { notes: @scale[:pentatonic] } %>
  </div>
</div>

<br/>

<div class="row">
  <div class="column">
    <h3>Chords</h3>
    <% @scale[:chords].each_slice(4).to_a.each do |slice| %>
      <div class="row">
        <% slice.each do |chord| %>
          <div class="column column-25">
            <h4><%= "#{chord[:quality]} - #{chord[:name]}" %></h4>
            <%= render partial: "small_piano", locals: { notes: chord[:notes] } %>
          </div>
        <% end %>
      </div>
      <br/>
    <% end %>
  </div>
</div>
